// Custom styles.
//body {
//    //background:url(https://source.unsplash.com/random/1600x900);
//	background: #044887 url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1536226387228&di=f2fafa51bb6686aa9391c492c1c5e25d&imgtype=0&src=http%3A%2F%2Fbbsfiles.vivo.com.cn%2Fvivobbs%2Fattachment%2Fforum%2F201710%2F03%2F204231mfew33efpps7pu5i.jpg) bottom left;
//	background-size: 1500px auto;
//	//background-repeat: no-repeat;
//    background-repeat: repeat-x;
//    background-attachment:fixed;
//	transform: translate3d(0,0,0);
//}
.fa-gitee {
	background-image: url(/images/gitee.png);
    width: 13.7px;
    height: 16px;
    background-size: cover;
	background-repeat: no-repeat;
    background-position: center;
	transform: translateY(20%);
}

.fa-tuishuxia {
    background-image: url(/images/tuishuxia-logo.png);
    width: 16px;
    height: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(20%);
}